.carousel-wrap{position: relative;overflow: hidden;}
.carousel-wrap .list{position: absolute;height:100%;}
.carousel-wrap .list>li{float:left;height:100%;}
.carousel-wrap .points-wrap {position: absolute;bottom: 10px;left:50%;}
.carousel-wrap .points-wrap>a{float: left;vertical-align: middle;margin-right: 15px;
	border: 5px solid rgb(209, 211, 210);border-radius: 50%;}
.carousel-wrap .points-wrap>a:hover{border-color: rgb(232, 103, 107);}
.carousel-wrap .points-wrap>a.active{border-color: rgb(232, 103, 107);}