.loadding:before,
.loadding:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  margin:auto;
  width:0;
  height: 0;
  background:rgba(0,0,0,0.8);
  border-radius:50%;
  animation:s  1.5s linear infinite;
  
}
.loadding:after{
  animation-delay:0.75s;
}
@keyframes s {
  0%{
    height:0;width:0;opacity:1;
  }
  100%{
     height:100px;width:100px;opacity:0;
  }
}