/*CSS reset start*/
*{padding: 0px;margin: 0px;}
ol,ul,li{list-style: none;}
a{text-decoration: none;background: transparent;color:#000;}
.clearfix:before,.clearfix:after{content: '';clear: both;display: table}
.clearfix{*zoom:1;}
h1,h2{font-style: normal;}
/*CSS reset end*/

body{background-color: #efefef;font-family:"Open Sans";}

/*header start*/
.header .header-wrap{padding: 0 14px;}
.header .header-nav{ width: 100%;position: fixed; padding: 20px 0;transition: all 0.3s;}
.header .logo{display:inline-block;vertical-align: middle;
			  font-family: 'Fredoka One', cursive;font-weight: bold;
              color:rgb(154, 157, 162);font-size: 30px;padding:10px 0;line-height: 1;}
.header .rs{color:#e8676b;display: inline-block;margin-right: 6px;vertical-align: bottom;}
.header .nav{float: right;}
.header .nav>ul{float:left;box-sizing:border-box;min-height: 50px;padding-top: 6px;}
.header .nav>ul>li{display: inline-block;margin-left:30px;vertical-align: middle;}
.header .nav>ul>li:first-child{margin-left: 0px;}
.header .nav>ul>li>a{display:block;font-size:13px;font-weight: 700;
			   color:rgba(255, 255, 255, 0.7);padding:12px 0;line-height: 1;position: relative;}
.header .nav>ul>li>a:after{content: '';position: absolute;width:0;left: 0;bottom:0;
                            height: 3px;background:#e8676b;transition: width 0.3s;}     

.header .nav>ul>li>a:hover:after{width:100%;}                                                
.header .nav .header-item{float: right; margin-left:30px; }
.header .nav .header-item a{position: relative;display:inline-block;vertical-align: middle;
	                       width: 48px;height: 48px;line-height: 50px;
	                       font-size:16px;color:#fff;text-align: center;
	                       border: 1px solid #4f5159;}
.header .nav .header-item a:first-child{margin-right: 7px;}
.header .nav .header-item a .shopping-num {position: absolute;top:-15px;right:7px;color:rgb(232, 103, 107);font-size:12px;font-weight: bold;}

.header .header-bg{background: url(img/header-bg.jpg); height: 516px;
				   background-position: center center;background-size: cover;}
.header .header-bg .mask{background: rgba(0,0,0,0.75);height: 100%;}


.header .header-nav.header-sticky{z-index:98;background: #fff;padding: 10px 0;box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);}
.header .header-sticky .nav>ul>li>a{color:#3d4451;}
.header .header-sticky .nav .header-item a{color:#3d4451;font-weight:bold;border-color:#d1d1d1;width: 38px;height: 38px; }
.header .header-sticky .nav>ul{min-height: 40px;padding-top: 2px;}
.header .header-sticky .logo{padding:5px;}

/*header end*/

.content>section{max-width: 940px;margin:0 auto;}

/*信息卡片 main  start*/
.content .user-card{height: 530px;background: #fff;
	       box-sizing: border-box;margin-top:-340px;
	       box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);}
.content .user-card .card-main{padding: 50px 50px 0; }
.content .user-card .card-main .card-photo{float:left;width: 40%;}
.content .user-card .card-main .card-photo img{width: 100%;}
.content .user-card .card-main .card-info{float:right;width:60%;box-sizing: border-box;padding-left:60px;}
.content .user-card .card-main .card-info .text{position: relative; border-bottom: 1px solid #dedede;}
.content .user-card .card-main .card-info .text .hello{width: 70px;height: 30px;line-height:30px;background: #e8676b;
										color:#fff;font-size:14px;
									    font-weight: bold;text-align: center;margin-bottom: 28px;}
.content .user-card .card-main .card-info .text .hello:after{ content: '';
	                                           width:0;height:0;
											   border-right:5px solid transparent;
											   border-bottom:5px solid transparent;
											   border-left:5px solid #e8676b;
											   border-top:5px solid #e8676b;
											   position: absolute;top:30px;left:8px;}
.content .user-card .card-main .card-info h1 span{font-weight: 300;}
.content .user-card .card-main .card-info h2{font-size:18px;font-weight:400;margin-bottom: 25px;}
.content .user-card .card-main .card-info ul{margin-top:30px;}
.content .user-card .card-main .card-info ul li {
	float:left;width:30%;font-weight: bold;font-size:12px;margin-bottom: 15px;
}
.content .user-card .card-main .card-info ul li:nth-child(even) {
	width:70%;color:#9da0a7;font-weight: normal;font-size:15px;
}
.content .user-card .card-main .card-info ul .vacation span{
	background: #e8676b;color:#fff;padding: 2px 8px;
}
.content .user-card .card-main .card-info ul li:last-child i {
	font-size: 15px; padding-right: 5px;
}
.content .user-card .footer{background: #e8676b;text-align:center;padding: 15px 0;margin-top: 24px;}
.content .user-card .footer a{width: 45px;height: 45px;display:inline-block;border-radius: 50%;line-height: 45px; text-align: center;}
.content .user-card .footer a i{font-size: 20px;color:#fff;}
.content .user-card .footer a:hover{background: #D05C60;}

/* 信息卡片 main  end*/

/*download start*/
.content .download  {margin-top: 35px;}
.content .download  a {font-weight: bold;color:#464d59;display: block;width: 278px;
	                   margin-right: auto;margin-left:auto;height: 60px;line-height:60px;
                       border: 1px solid rgb(203, 205, 207); text-align: center;
                     }
.content .download a:hover{box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);}
/*download end*/

.content .introduction{font-size:20px; font-weight: 300;text-align: center;
                      line-height: 36px;margin-top:22px;}

.content section>h2{font-size: 34px;font-weight:600;text-align:center;color: #3d4451;
					margin-bottom: 10px;margin-top: 50px;		}
/*twitter-section start*/
.content .twitter-section .twitter-icon{border-radius: 2px;margin:0 auto;border:1px solid rgb(203, 205, 207);width: 68px;height: 68px;color:#e8676b;text-align: center;line-height: 70px;}
.content .twitter-section .twitter-icon i{font-size: 30px;}
.content .twitter-section .carousel-wrap{height: 158px; margin-top: 20px;}
.content .twitter-section .carousel-wrap .tweet-text{ margin: 0 0 25px 0;font-size:20px;font-weight: 300;text-align: center;}
.content .twitter-section .carousel-wrap .tweet-text img{width: 20px;height: 20px;}
.content .twitter-section .carousel-wrap .tweet-text a{color:rgb(232, 103, 107);}
.content .twitter-section .carousel-wrap .tweet-details{margin: 0 0 25px 0;font-size:20px;font-weight: 300;text-align: center}
.content .twitter-section .carousel-wrap .tweet-details a{color: #a2a2a2;}
/*twitter-section end*/

/*skills start*/
.content .skills .skills-content{background: #fff;padding: 30px 40px;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
                                }
.content .skills .skills-content li {float: left;display: inline-block;width: 50%;box-sizing: border-box;padding-right: 30px;padding-bottom: 30px;}   
.content .skills .skills-content li>.title{font-size:14px;color:#3d4451;font-weight: 400;margin-bottom: 2px;}
.content .skills .skills-content li .progress{border-radius: 5px;position:relative;width: 100%;background: #fae1e1;height: 5px;}
.content .skills .skills-content li .progress-fill{border-radius: 5px;position:absolute;width: 80%;height: 5px;background: #e8676b}
/*skills end*/

/*portfolio start*/
.content .portfolio .nav{text-align: center;}
.content .portfolio .nav ul{display: inline-block;}
.content .portfolio .nav li{float: left;font-size: 13px;font-weight: 600;
							padding:0 20px;position: relative;cursor: pointer;}
.content .portfolio .nav li:first-child{padding-left:0;}
.content .portfolio .nav li:last-child{padding-right:0;}
.content .portfolio .nav li:after{content: "";position:absolute;height: 5px;width: 0;background: #fff;
								  bottom:-15px;left:0;transition:all 0.8s;}
.content .portfolio .nav li.active:after{background: #e8676b;border-radius: 5px;width:100%}
.content .portfolio .article{margin-top: 30px;
	                         display: grid;
	                         grid-template-rows: repeat(2,auto);
	                         grid-template-columns: repeat(3,33.33%);
	                         grid-auto-flow: row dense;
	                         }
.content .portfolio .article .pf-grid{padding: 0 10px;margin-bottom: 20px;}
.content .portfolio .article .pf-grid-item-1{grid-row-start: 1;grid-row-end: 3;
									       grid-column-start: 1;grid-column-end: 3;	}	  
.content .portfolio .article .item-1{background: url(img/1.jpg);}
.content .portfolio .article .item-2{background: url(img/2.jpg);}	
.content .portfolio .article .item-3{background: url(img/3.jpg);}	
.content .portfolio .article .pf-item{  
                                    padding-top: 95%;
                                    overflow: hidden; 
                                    background-position: center;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24)
                                   }  
                      
/*portfolio end*/


/*other item start*/
.setting{position:fixed;left:0;top:100px;width: 56px;height: 60px;background-color: #fff;text-align: center;
                 line-height: 60px;z-index:90;border-radius:2px;}
.setting .iconfont{font-size:24px;}

.awwwards{position:fixed;top:145px;right:0;width: 90px;height:135px;background: url(img/awwwards.png);}
.awwwards a{position:absolute;top:0px;right:0;width: 90px;height:135px; }
/*other item end */
		
		